$FontBackground-color-white: #ffffff;
$sideBar-background-color: #253141;
$groupList-background-color: #2f3e51;
$info-border-color: #eeeeee;
$group-TitleName-color: #333333;
$group-MemberTime-color: #999999;
$group-EditSend-color: #38aef0;
$message-list-background-color: #fafafa;
$message-text-color: #434A54;
$message-form-background-color: #d2d2d2;